/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/packages/AngleSharp.0.16.1/.signature.p7s
/packages/Microsoft.Win32.Registry.5.0.0/.signature.p7s
/packages/Selenium.WebDriver.4.1.0/.signature.p7s
/packages/SharpCompress.0.30.1/.signature.p7s
/packages/SharpZipLib.1.3.3/.signature.p7s
/packages/System.Buffers.4.5.1/.signature.p7s
/packages/System.Memory.4.5.4/.signature.p7s
/packages/System.Numerics.Vectors.4.5.0/.signature.p7s
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/.signature.p7s
/packages/System.Security.AccessControl.5.0.0/.signature.p7s
/packages/System.Security.Principal.Windows.5.0.0/.signature.p7s
/packages/System.Text.Encoding.CodePages.5.0.0/.signature.p7s
/packages/WebDriverManager.2.12.3/.signature.p7s
/.idea/sonarlint/issuestore/5/d/5d7e9e594d5b3480552c3543e1d734c235f2ae57
/.idea/sonarlint/issuestore/1/5/1595e9a250ff95aa8621fbd0083b2a19287dac41
/packages/System.Buffers.4.5.1/lib/netcoreapp2.0/_._
/packages/System.Buffers.4.5.1/lib/uap10.0.16299/_._
/packages/System.Buffers.4.5.1/ref/netcoreapp2.0/_._
/packages/System.Buffers.4.5.1/ref/uap10.0.16299/_._
/packages/System.Memory.4.5.4/lib/netcoreapp2.1/_._
/packages/System.Memory.4.5.4/ref/netcoreapp2.1/_._
/packages/System.Numerics.Vectors.4.5.0/lib/MonoAndroid10/_._
/packages/System.Numerics.Vectors.4.5.0/lib/MonoTouch10/_._
/packages/System.Numerics.Vectors.4.5.0/lib/netcoreapp2.0/_._
/packages/System.Numerics.Vectors.4.5.0/lib/uap10.0.16299/_._
/packages/System.Numerics.Vectors.4.5.0/lib/xamarinios10/_._
/packages/System.Numerics.Vectors.4.5.0/lib/xamarinmac20/_._
/packages/System.Numerics.Vectors.4.5.0/lib/xamarintvos10/_._
/packages/System.Numerics.Vectors.4.5.0/lib/xamarinwatchos10/_._
/packages/System.Numerics.Vectors.4.5.0/ref/MonoAndroid10/_._
/packages/System.Numerics.Vectors.4.5.0/ref/MonoTouch10/_._
/packages/System.Numerics.Vectors.4.5.0/ref/netcoreapp2.0/_._
/packages/System.Numerics.Vectors.4.5.0/ref/uap10.0.16299/_._
/packages/System.Numerics.Vectors.4.5.0/ref/xamarinios10/_._
/packages/System.Numerics.Vectors.4.5.0/ref/xamarinmac20/_._
/packages/System.Numerics.Vectors.4.5.0/ref/xamarintvos10/_._
/packages/System.Numerics.Vectors.4.5.0/ref/xamarinwatchos10/_._
/packages/System.Security.AccessControl.5.0.0/lib/uap10.0.16299/_._
/packages/System.Security.AccessControl.5.0.0/ref/uap10.0.16299/_._
/packages/System.Security.AccessControl.5.0.0/runtimes/win/lib/uap10.0.16299/_._
/packages/System.Security.Principal.Windows.5.0.0/lib/uap10.0.16299/_._
/packages/System.Security.Principal.Windows.5.0.0/ref/uap10.0.16299/_._
/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/uap10.0.16299/_._
/packages/System.Text.Encoding.CodePages.5.0.0/lib/MonoAndroid10/_._
/packages/System.Text.Encoding.CodePages.5.0.0/lib/MonoTouch10/_._
/packages/System.Text.Encoding.CodePages.5.0.0/lib/xamarinios10/_._
/packages/System.Text.Encoding.CodePages.5.0.0/lib/xamarinmac20/_._
/packages/System.Text.Encoding.CodePages.5.0.0/lib/xamarintvos10/_._
/packages/System.Text.Encoding.CodePages.5.0.0/lib/xamarinwatchos10/_._
/packages/System.Text.Encoding.CodePages.5.0.0/ref/MonoAndroid10/_._
/packages/System.Text.Encoding.CodePages.5.0.0/ref/MonoTouch10/_._
/packages/System.Text.Encoding.CodePages.5.0.0/ref/xamarinios10/_._
/packages/System.Text.Encoding.CodePages.5.0.0/ref/xamarinmac20/_._
/packages/System.Text.Encoding.CodePages.5.0.0/ref/xamarintvos10/_._
/packages/System.Text.Encoding.CodePages.5.0.0/ref/xamarinwatchos10/_._
/packages/AngleSharp.0.16.1/AngleSharp.0.16.1.nupkg
/bin/Debug/AngleSharp.dll
/bin/Release/AngleSharp.dll
/packages/AngleSharp.0.16.1/lib/net46/AngleSharp.dll
/packages/AngleSharp.0.16.1/lib/net461/AngleSharp.dll
/packages/AngleSharp.0.16.1/lib/net472/AngleSharp.dll
/packages/AngleSharp.0.16.1/lib/netstandard2.0/AngleSharp.dll
/bin/Debug/AngleSharp.xml
/bin/Release/AngleSharp.xml
/packages/AngleSharp.0.16.1/lib/net46/AngleSharp.xml
/packages/AngleSharp.0.16.1/lib/net461/AngleSharp.xml
/packages/AngleSharp.0.16.1/lib/net472/AngleSharp.xml
/packages/AngleSharp.0.16.1/lib/netstandard2.0/AngleSharp.xml
/bin/Debug/Chrome/97.0.4692.71/X64/chromedriver.exe
/bin/Debug/Chrome/98.0.4758.102/X64/chromedriver.exe
/bin/Debug/Chrome/99.0.4844.51/X64/chromedriver.exe
/bin/Release/Chrome/97.0.4692.71/X64/chromedriver.exe
/CSharp_Documtentation.pdf
/.idea/.idea.GG_Downloader/.idea/discord.xml
/packages/DownloadQueue.1.2.2/lib/netstandard2.0/DownloadQueue.dll
/packages/DownloadUtilities.1.0.6401.2990.deleteme
/packages/DownloadUtilities.1.0.6401.2990/lib/net452/DownloadUtilities.dll
/obj/Debug/GG_Downloader.csproj.AssemblyReference.cache
/obj/Release/GG_Downloader.csproj.AssemblyReference.cache
/obj/Debug/GG_Downloader.csproj.CopyComplete
/obj/Release/GG_Downloader.csproj.CopyComplete
/obj/Debug/GG_Downloader.csproj.CoreCompileInputs.cache
/obj/Release/GG_Downloader.csproj.CoreCompileInputs.cache
/obj/Debug/GG_Downloader.csproj.FileListAbsolute.txt
/obj/Release/GG_Downloader.csproj.FileListAbsolute.txt
/obj/Debug/GG_Downloader.csproj.SuggestedBindingRedirects.cache
/obj/Release/GG_Downloader.csproj.SuggestedBindingRedirects.cache
/bin/Debug/GG_Downloader.exe
/bin/Release/GG_Downloader.exe
/obj/Debug/GG_Downloader.exe
/obj/Release/GG_Downloader.exe
/bin/Debug/GG_Downloader.exe.config
/bin/Debug/GG_Downloader.pdb
/bin/Release/GG_Downloader.pdb
/obj/Debug/GG_Downloader.pdb
/obj/Release/GG_Downloader.pdb
/.idea/.idea.GG_Downloader/.idea/git_toolbox_prj.xml
/packages/Microsoft.Win32.Registry.5.0.0/Icon.png
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/Icon.png
/packages/System.Security.AccessControl.5.0.0/Icon.png
/packages/System.Security.Principal.Windows.5.0.0/Icon.png
/packages/System.Text.Encoding.CodePages.5.0.0/Icon.png
/packages/Selenium.WebDriver.4.1.0/images/icon.png
/bin/Debug/ICSharpCode.SharpZipLib.dll
/bin/Release/ICSharpCode.SharpZipLib.dll
/packages/SharpZipLib.1.3.3/lib/net45/ICSharpCode.SharpZipLib.dll
/packages/SharpZipLib.1.3.3/lib/netstandard2.0/ICSharpCode.SharpZipLib.dll
/packages/SharpZipLib.1.3.3/lib/netstandard2.1/ICSharpCode.SharpZipLib.dll
/bin/Debug/ICSharpCode.SharpZipLib.pdb
/bin/Release/ICSharpCode.SharpZipLib.pdb
/packages/SharpZipLib.1.3.3/lib/net45/ICSharpCode.SharpZipLib.pdb
/packages/SharpZipLib.1.3.3/lib/netstandard2.0/ICSharpCode.SharpZipLib.pdb
/packages/SharpZipLib.1.3.3/lib/netstandard2.1/ICSharpCode.SharpZipLib.pdb
/bin/Debug/ICSharpCode.SharpZipLib.xml
/bin/Release/ICSharpCode.SharpZipLib.xml
/packages/SharpZipLib.1.3.3/lib/net45/ICSharpCode.SharpZipLib.xml
/packages/SharpZipLib.1.3.3/lib/netstandard2.0/ICSharpCode.SharpZipLib.xml
/packages/SharpZipLib.1.3.3/lib/netstandard2.1/ICSharpCode.SharpZipLib.xml
/packages/Microsoft.Win32.Registry.5.0.0/LICENSE.TXT
/packages/System.Buffers.4.5.1/LICENSE.TXT
/packages/System.Memory.4.5.4/LICENSE.TXT
/packages/System.Numerics.Vectors.4.5.0/LICENSE.TXT
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/LICENSE.TXT
/packages/System.Security.AccessControl.5.0.0/LICENSE.TXT
/packages/System.Security.Principal.Windows.5.0.0/LICENSE.TXT
/packages/System.Text.Encoding.CodePages.5.0.0/LICENSE.TXT
/packages/AngleSharp.0.16.1/logo.png
/packages/Microsoft.Win32.Registry.5.0.0/Microsoft.Win32.Registry.5.0.0.nupkg
/bin/Debug/Microsoft.Win32.Registry.dll
/bin/Release/Microsoft.Win32.Registry.dll
/packages/Microsoft.Win32.Registry.5.0.0/lib/net46/Microsoft.Win32.Registry.dll
/packages/Microsoft.Win32.Registry.5.0.0/lib/net461/Microsoft.Win32.Registry.dll
/packages/Microsoft.Win32.Registry.5.0.0/lib/netstandard1.3/Microsoft.Win32.Registry.dll
/packages/Microsoft.Win32.Registry.5.0.0/lib/netstandard2.0/Microsoft.Win32.Registry.dll
/packages/Microsoft.Win32.Registry.5.0.0/ref/net46/Microsoft.Win32.Registry.dll
/packages/Microsoft.Win32.Registry.5.0.0/ref/net461/Microsoft.Win32.Registry.dll
/packages/Microsoft.Win32.Registry.5.0.0/ref/netstandard1.3/Microsoft.Win32.Registry.dll
/packages/Microsoft.Win32.Registry.5.0.0/ref/netstandard2.0/Microsoft.Win32.Registry.dll
/packages/Microsoft.Win32.Registry.5.0.0/runtimes/win/lib/net46/Microsoft.Win32.Registry.dll
/packages/Microsoft.Win32.Registry.5.0.0/runtimes/win/lib/net461/Microsoft.Win32.Registry.dll
/packages/Microsoft.Win32.Registry.5.0.0/runtimes/win/lib/netstandard1.3/Microsoft.Win32.Registry.dll
/packages/Microsoft.Win32.Registry.5.0.0/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.dll
/bin/Debug/Microsoft.Win32.Registry.xml
/bin/Release/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/lib/net461/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/lib/netstandard2.0/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/ref/net461/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/ref/netstandard1.3/de/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/ref/netstandard1.3/es/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/ref/netstandard1.3/fr/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/ref/netstandard1.3/it/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/ref/netstandard1.3/ja/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/ref/netstandard1.3/ko/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/ref/netstandard1.3/ru/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/ref/netstandard1.3/zh-hans/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/ref/netstandard1.3/zh-hant/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/ref/netstandard1.3/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/ref/netstandard2.0/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/runtimes/win/lib/net461/Microsoft.Win32.Registry.xml
/packages/Microsoft.Win32.Registry.5.0.0/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.xml
/packages/WebDriverManager.2.12.3/README.md
/packages/Selenium.WebDriver.4.1.0/Selenium.WebDriver.4.1.0.nupkg
/packages/SharpCompress.0.30.1/SharpCompress.0.30.1.nupkg
/bin/Debug/SharpCompress.dll
/packages/SharpCompress.0.30.1/lib/net5.0/SharpCompress.dll
/packages/SharpCompress.0.30.1/lib/net461/SharpCompress.dll
/packages/SharpCompress.0.30.1/lib/netcoreapp3.1/SharpCompress.dll
/packages/SharpCompress.0.30.1/lib/netstandard2.0/SharpCompress.dll
/packages/SharpCompress.0.30.1/lib/netstandard2.1/SharpCompress.dll
/packages/SharpZipLib.1.3.3/SharpZipLib.1.3.3.nupkg
/packages/SharpZipLib.1.3.3/images/sharpziplib-nuget-256x256.png
/packages/System.Buffers.4.5.1/System.Buffers.4.5.1.nupkg
/bin/Debug/System.Buffers.dll
/bin/Release/System.Buffers.dll
/packages/System.Buffers.4.5.1/lib/net461/System.Buffers.dll
/packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.dll
/packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.dll
/packages/System.Buffers.4.5.1/ref/net45/System.Buffers.dll
/packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.dll
/packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.dll
/bin/Debug/System.Buffers.xml
/bin/Release/System.Buffers.xml
/packages/System.Buffers.4.5.1/lib/net461/System.Buffers.xml
/packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.xml
/packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.xml
/packages/System.Buffers.4.5.1/ref/net45/System.Buffers.xml
/packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.xml
/packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.xml
/packages/System.Memory.4.5.4/System.Memory.4.5.4.nupkg
/bin/Debug/System.Memory.dll
/packages/System.Memory.4.5.4/lib/net461/System.Memory.dll
/packages/System.Memory.4.5.4/lib/netstandard1.1/System.Memory.dll
/packages/System.Memory.4.5.4/lib/netstandard2.0/System.Memory.dll
/bin/Debug/System.Memory.xml
/packages/System.Memory.4.5.4/lib/net461/System.Memory.xml
/packages/System.Memory.4.5.4/lib/netstandard1.1/System.Memory.xml
/packages/System.Memory.4.5.4/lib/netstandard2.0/System.Memory.xml
/packages/System.Numerics.Vectors.4.5.0/System.Numerics.Vectors.4.5.0.nupkg
/bin/Debug/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.dll
/bin/Debug/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/System.Runtime.CompilerServices.Unsafe.5.0.0.nupkg
/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/bin/Release/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/net45/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/net461/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.1/System.Runtime.CompilerServices.Unsafe.dll
/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/net45/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/net461/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.1/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Security.AccessControl.5.0.0/System.Security.AccessControl.5.0.0.nupkg
/bin/Debug/System.Security.AccessControl.dll
/bin/Release/System.Security.AccessControl.dll
/packages/System.Security.AccessControl.5.0.0/lib/net46/System.Security.AccessControl.dll
/packages/System.Security.AccessControl.5.0.0/lib/net461/System.Security.AccessControl.dll
/packages/System.Security.AccessControl.5.0.0/lib/netstandard1.3/System.Security.AccessControl.dll
/packages/System.Security.AccessControl.5.0.0/lib/netstandard2.0/System.Security.AccessControl.dll
/packages/System.Security.AccessControl.5.0.0/ref/net46/System.Security.AccessControl.dll
/packages/System.Security.AccessControl.5.0.0/ref/net461/System.Security.AccessControl.dll
/packages/System.Security.AccessControl.5.0.0/ref/netstandard1.3/System.Security.AccessControl.dll
/packages/System.Security.AccessControl.5.0.0/ref/netstandard2.0/System.Security.AccessControl.dll
/packages/System.Security.AccessControl.5.0.0/runtimes/win/lib/net46/System.Security.AccessControl.dll
/packages/System.Security.AccessControl.5.0.0/runtimes/win/lib/net461/System.Security.AccessControl.dll
/packages/System.Security.AccessControl.5.0.0/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
/packages/System.Security.AccessControl.5.0.0/runtimes/win/lib/netstandard1.3/System.Security.AccessControl.dll
/bin/Debug/System.Security.AccessControl.xml
/bin/Release/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/lib/net461/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/lib/netstandard2.0/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/ref/net461/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/ref/netstandard1.3/de/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/ref/netstandard1.3/es/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/ref/netstandard1.3/fr/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/ref/netstandard1.3/it/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/ref/netstandard1.3/ja/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/ref/netstandard1.3/ko/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/ref/netstandard1.3/ru/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/ref/netstandard1.3/zh-hans/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/ref/netstandard1.3/zh-hant/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/ref/netstandard1.3/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/ref/netstandard2.0/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/runtimes/win/lib/net461/System.Security.AccessControl.xml
/packages/System.Security.AccessControl.5.0.0/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.xml
/packages/System.Security.Principal.Windows.5.0.0/System.Security.Principal.Windows.5.0.0.nupkg
/bin/Debug/System.Security.Principal.Windows.dll
/bin/Release/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/lib/net46/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/lib/net461/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/lib/netstandard1.3/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/lib/netstandard2.0/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/ref/net46/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/ref/net461/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/ref/netcoreapp3.0/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard2.0/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/runtimes/unix/lib/netcoreapp2.0/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/net46/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/net461/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/netcoreapp2.0/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/netstandard1.3/System.Security.Principal.Windows.dll
/bin/Debug/System.Security.Principal.Windows.xml
/bin/Release/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/lib/net461/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/lib/netstandard2.0/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/ref/net461/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/ref/netcoreapp3.0/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/de/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/es/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/fr/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/it/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/ja/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/ko/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/ru/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/zh-hans/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/zh-hant/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard1.3/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/ref/netstandard2.0/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/runtimes/unix/lib/netcoreapp2.0/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/net461/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/netcoreapp2.0/System.Security.Principal.Windows.xml
/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.xml
/packages/System.Text.Encoding.CodePages.5.0.0/System.Text.Encoding.CodePages.5.0.0.nupkg
/bin/Debug/System.Text.Encoding.CodePages.dll
/bin/Release/System.Text.Encoding.CodePages.dll
/packages/System.Text.Encoding.CodePages.5.0.0/lib/net46/System.Text.Encoding.CodePages.dll
/packages/System.Text.Encoding.CodePages.5.0.0/lib/net461/System.Text.Encoding.CodePages.dll
/packages/System.Text.Encoding.CodePages.5.0.0/lib/netstandard1.3/System.Text.Encoding.CodePages.dll
/packages/System.Text.Encoding.CodePages.5.0.0/lib/netstandard2.0/System.Text.Encoding.CodePages.dll
/packages/System.Text.Encoding.CodePages.5.0.0/runtimes/win/lib/net461/System.Text.Encoding.CodePages.dll
/packages/System.Text.Encoding.CodePages.5.0.0/runtimes/win/lib/netcoreapp2.0/System.Text.Encoding.CodePages.dll
/packages/System.Text.Encoding.CodePages.5.0.0/runtimes/win/lib/netstandard1.3/System.Text.Encoding.CodePages.dll
/packages/System.Text.Encoding.CodePages.5.0.0/runtimes/win/lib/netstandard2.0/System.Text.Encoding.CodePages.dll
/bin/Debug/System.Text.Encoding.CodePages.xml
/bin/Release/System.Text.Encoding.CodePages.xml
/packages/System.Text.Encoding.CodePages.5.0.0/lib/net461/System.Text.Encoding.CodePages.xml
/packages/System.Text.Encoding.CodePages.5.0.0/lib/netstandard2.0/System.Text.Encoding.CodePages.xml
/packages/System.Text.Encoding.CodePages.5.0.0/runtimes/win/lib/net461/System.Text.Encoding.CodePages.xml
/packages/System.Text.Encoding.CodePages.5.0.0/runtimes/win/lib/netcoreapp2.0/System.Text.Encoding.CodePages.xml
/packages/System.Text.Encoding.CodePages.5.0.0/runtimes/win/lib/netstandard2.0/System.Text.Encoding.CodePages.xml
/packages/Microsoft.Win32.Registry.5.0.0/THIRD-PARTY-NOTICES.TXT
/packages/System.Buffers.4.5.1/THIRD-PARTY-NOTICES.TXT
/packages/System.Memory.4.5.4/THIRD-PARTY-NOTICES.TXT
/packages/System.Numerics.Vectors.4.5.0/THIRD-PARTY-NOTICES.TXT
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/THIRD-PARTY-NOTICES.TXT
/packages/System.Security.AccessControl.5.0.0/THIRD-PARTY-NOTICES.TXT
/packages/System.Security.Principal.Windows.5.0.0/THIRD-PARTY-NOTICES.TXT
/packages/System.Text.Encoding.CodePages.5.0.0/THIRD-PARTY-NOTICES.TXT
/packages/UnrarNative.1.0.1.deleteme
/packages/Microsoft.Win32.Registry.5.0.0/useSharedDesignerContext.txt
/packages/System.Buffers.4.5.1/useSharedDesignerContext.txt
/packages/System.Memory.4.5.4/useSharedDesignerContext.txt
/packages/System.Numerics.Vectors.4.5.0/useSharedDesignerContext.txt
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/useSharedDesignerContext.txt
/packages/System.Security.AccessControl.5.0.0/useSharedDesignerContext.txt
/packages/System.Security.Principal.Windows.5.0.0/useSharedDesignerContext.txt
/packages/System.Text.Encoding.CodePages.5.0.0/useSharedDesignerContext.txt
/packages/Microsoft.Win32.Registry.5.0.0/version.txt
/packages/System.Buffers.4.5.1/version.txt
/packages/System.Memory.4.5.4/version.txt
/packages/System.Numerics.Vectors.4.5.0/version.txt
/packages/System.Runtime.CompilerServices.Unsafe.5.0.0/version.txt
/packages/System.Security.AccessControl.5.0.0/version.txt
/packages/System.Security.Principal.Windows.5.0.0/version.txt
/packages/System.Text.Encoding.CodePages.5.0.0/version.txt
/bin/Debug/WebDriver.dll
/bin/Release/WebDriver.dll
/packages/Selenium.WebDriver.4.1.0/lib/net5.0/WebDriver.dll
/packages/Selenium.WebDriver.4.1.0/lib/net45/WebDriver.dll
/packages/Selenium.WebDriver.4.1.0/lib/net46/WebDriver.dll
/packages/Selenium.WebDriver.4.1.0/lib/net47/WebDriver.dll
/packages/Selenium.WebDriver.4.1.0/lib/net48/WebDriver.dll
/packages/Selenium.WebDriver.4.1.0/lib/netstandard2.0/WebDriver.dll
/packages/Selenium.WebDriver.4.1.0/lib/netstandard2.1/WebDriver.dll
/packages/WebDriverManager.2.12.3/WebDriverManager.2.12.3.nupkg
/bin/Debug/WebDriverManager.dll
/bin/Release/WebDriverManager.dll
/packages/WebDriverManager.2.12.3/lib/net46/WebDriverManager.dll
/packages/WebDriverManager.2.12.3/lib/netstandard2.0/WebDriverManager.dll
/packages/WebDriverManager.2.12.3/lib/netstandard2.1/WebDriverManager.dll
